* {
  margin: 0x;
  padding: 0px;
}

.header {
  background-color: rgb(152, 221, 104);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

#logo {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}
body {
  background-color: black;
}

.mibarra {
  background-color: transparent;
  padding: 0px;
  margin: 3px;
}

.formatolink {
  color: black;

  &:hover {
    background-color: white;
    color: black;
    opacity: 0.8;
    border-radius: 4px;
    padding: auto;
    margin: 1px;
    transition: 2s;
  }
}

.title {
  display: flex;
  align-items: center;
  padding: 10px;
  h1 {
    font-size: 70px;
    color: white;
    font-style: italic;
    margin-left: 15px;
  }
}

#info {
  margin-bottom: 0px;
  text-align: center;
}

footer li {
  display: inline;
  list-style: none;
  text-align: center;
  line-height: 15px;
  font-size: 13px;
  font-family: "Segoe UI";
  margin: 3px;
}
.icono {
  margin-bottom: 0px;
}
.footerLink {
  color: white;
  text-decoration: none;
  &:hover {
    color: rgb(152, 221, 104);
  }
}
