* {
  margin: 0x;
  padding: 0px;
}

#logo {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}
body {
  background-color: black;
}

.mibarra {
  background-color: black;
  padding: 0px;
  margin: 3px;
}

.formatolink {
  color: white;

  &:hover {
    background-color: rgb(152, 221, 104);
    color: black;
    opacity: 80%;
    border-radius: 3px;
    padding: auto;
    margin: 1px;
    transition: 2s;
  }
}

h1 {
  background-color: rgb(152, 221, 104);
  font-size: 100px;
  margin: 0px;
  width: 100%;
  color: white;
  font-style: italic;
}

#info {
  margin-bottom: 0px;
  text-align: center;
}

footer li {
  display: inline;
  list-style: none;
  text-align: center;
  line-height: 15px;
  font-size: 13px;
  font-family: "Segoe UI";
  margin: 3px;
}
.icono {
  margin-bottom: 0px;
}
.footerLink {
  color: white;
  text-decoration: none;
  &:hover {
    color: rgb(152, 221, 104);
  }
}
