* {
  margin: 0x;
  padding: 0px;
}
#logo {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin: auto;
}

h1 {
  background-color: rgb(152, 221, 104);
  font-size: 100px;
  margin: 0px;
  width: 100%;
  color: white;
  font-style: italic;
}
#info {
  margin-bottom: 0px;
  text-align: center;
}

footer li {
  display: inline;
  list-style: none;
  text-align: center;
  line-height: 15px;
  color: lightgrey;
  font-size: 13px;
  font-family: "Segoe UI";
  margin: 3px;
}
.icono {
  margin-bottom: 0px;
}
