// <! archivo _base da el formato base de la pagina (header y footer)
@import "base";
// <media queries estilea pagina para pantallas diferentes a desktop
@import "mediaqueries";
@mixin disposicion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.grilla //grilla en home
{
  @include disposicion;
  align-items: center;
  align-content: stretch;
}
.arranca-pilates {
  max-height: 75%;
  max-width: 75%;
  border-style: none;
  transition: all 0.2s ease-in-out;
  margin: 1rem;
  padding: 20px;
  &:hover {
    transform: scale(1.1);
    transition: 3s;
  }
}
.click {
  background-color: rgb(95, 139, 63);
  color: white;
  font-style: italic;
  border-radius: 5px;
  height: 40px;
  box-shadow: 6px 5px 24px #666666;

  &:hover {
    background-color: chartreuse;
    transition: all 0.5s;
  }
}

.click2 {
  @extend .click;
  padding: "0 10px";
}

.eventos {
  max-width: 100%;
  height: 500px;
  display: block;
  margin: auto;
}

.presentacion {
  margin: 100px;
  color: white;
  text-align: center;
}

.profes {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  border-style: groove;
  margin: 10px;
}

.textos {
  color: white;
  font-size: 16px;
  font-family: "Segoe UI";
  font-style: italic;
  max-width: 100%;
  padding: 5px;
  text-align: center;
  margin: 30px;
}

.estilo-tablas {
  background-color: rgb(152, 221, 104);
  margin-top: 5rem;
  text-align: center;
}
.estilo-tablas-2 {
  @extend .estilo-tablas;
  max-width: 50%;
  margin: auto;
}

h2 {
  color: white;
  text-align: center;
  padding: 10px;
}
.direcciones {
  @extend .presentacion;
  list-style: none;
  margin: 10px;
}
.mapa {
  border-radius: 15px;
  width: 800px;
  height: 400px;
  margin: auto;
}

#formulario {
  background-color: rgb(152, 221, 104);
  margin: auto;
  margin-top: 15px;
  text-align: center;
  padding: 30px;
  border-style: groove;
  border-radius: 15px;
  max-width: 60%;
}
