* {
  margin: 0;
  padding: 0;
}

#logo {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin: auto;
}
body {
  background-color: black;
}

.grilla {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  align-content: stretch;
}
h1 {
  background-color: rgb(152, 221, 104);
  font-size: 100px;
  margin: 0px;
  width: 100%;
  color: white;
  font-style: italic;
}
h2 {
  color: white;
  text-align: left;
  padding: 10px;
}
header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
header nav a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Segoe UI";
  margin-right: 55px;
  margin-left: 55px;
  color: whitesmoke;
}

a {
  border-radius: 20px;
  border-style: hidden;
}

a:hover {
  background-color: rgb(95, 139, 63);
  color: black;
  padding: 1px;
}
body {
  background-color: black;
}
.arranca-pilates {
  border-style: none;
}

.eventos {
  width: 75%;
  height: 500px;
  display: block;
  margin: auto;
}

.presentacion {
  border-style: none;
  margin: 100px;
  color: antiquewhite;
  max-width: 80%;
  text-align: center;
}

.profes {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  border-style: groove;
  margin: 10px;
}

.texto-presentacion {
  color: white;
  font-size: 20px;
  font-family: "Segoe UI";
  font-style: italic;
  max-width: 100%;
  padding: 5px;
  text-align: center;
  margin: auto;
}

.grabaciones {
  margin: 15px;
  width: 460px;
  height: 215px;
}

iframe {
  border-radius: 15px;
}

.listado-clases li {
  list-style: none;
  color: white;
  text-align: justify;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 40px;
  margin-top: 10px;
  list-style-position: outside;
  font-size: 20px;
}

#formulario {
  background-color: rgb(152, 221, 104);
  margin: auto;
  margin-top: 15px;
  text-align: center;
  padding: 30px;
  border-style: groove;
  border-radius: 15px;
  max-width: 50%;
}

#info {
  margin-bottom: 0px;
  text-align: center;
}

footer li {
  display: inline;
  list-style: none;
  text-align: center;
  line-height: 15px;
  color: lightgrey;
  font-size: 13px;
  font-family: "Segoe UI";
  margin: 3px;
}
.icono {
  margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }
  #logo {
    display: none;
  }
  h1 {
    background-color: rgb(152, 221, 104);
    font-size: 50px;
    margin: 0px;
    width: 100%;
    color: white;
    font-style: italic;
    text-align: center;
  }

  header nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: end;
  }
  header nav a {
    text-decoration: none;
    font-size: 10px;
    font-family: "Segoe UI";

    color: whitesmoke;
  }
  .profes {
    display: none;
  }
  .texto-presentacion {
    color: white;
    font-size: small;
    font-family: "Segoe UI";
    font-style: italic;
    max-width: 100%;
    padding: 5px;
    text-align: center;
    margin: auto;
  }

  iframe {
    border-radius: 15px;
    max-width: 75%;
  }

  #formulario {
    background-color: rgb(152, 221, 104);
    margin: auto;
    margin-top: 15px;
    text-align: center;
    padding: 30px;
    border-style: groove;
    border-radius: 15px;
    max-width: 100%;
  }
  .campos {
    max-width: 100%;
  }
  #textarea {
    max-width: 100%;
  }
  .info {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  * {
    margin: 0;
    padding: 0;
  }
  #logo {
    display: none;
  }
  h1 {
    background-color: rgb(152, 221, 104);
    font-size: 50px;
    margin: 0px;
    width: 100%;
    color: white;
    font-style: italic;
    text-align: center;
  }

  header nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: end;
  }
  header nav a {
    text-decoration: none;
    font-size: 10px;
    font-family: "Segoe UI";

    color: whitesmoke;
  }
  .profes {
    display: none;
  }
  .texto-presentacion {
    color: white;
    font-size: small;
    font-family: "Segoe UI";
    font-style: italic;
    max-width: 100%;
    padding: 5px;
    text-align: center;
    margin: auto;
  }

  iframe {
    border-radius: 15px;
    max-width: 75%;
  }

  #formulario {
    background-color: rgb(152, 221, 104);
    margin: auto;
    margin-top: 15px;
    text-align: center;
    padding: 30px;
    border-style: groove;
    border-radius: 15px;
    max-width: 100%;
  }
  .campos {
    max-width: 100%;
  }
  #textarea {
    max-width: 100%;
  }
  #info {
    display: none;
  }
}
